FLASK_ENV=production
SECRET_KEY=change-this-to-a-long-random-secret
DATABASE_URL=postgresql+psycopg://postgres.xxxxxxxxxxxxx:change-this-password@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require
ADMIN_BOOTSTRAP_USERNAME=admin
ADMIN_BOOTSTRAP_NAME=Administrador General
ADMIN_BOOTSTRAP_PASSWORD=change-this-admin-password
